<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" /> 
<title>材料证书</title>
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/css/easyuiPage/easyui.css">
<link rel="stylesheet" type="text/css" href="/static/css/easyuiPage/zfeasyui.css">
<link rel="stylesheet" type="text/css" href="/static/css/zfstyle.css">
</head>
<body >
	<div class="cer_main">
		<div>
			<img class="logo" src="/static/images/cer/cer_top.png">
		</div>
		<table width="670px">
			<tr>
				<td><span class="cer-info-tit-span">Messer:</span></td>
				<td colspan="3"><span class="cer-info-con-span">TOP LINE PROCESS EQUIPMENT CO.</span></td>
			</tr>
			<tr>
				<td><span class="cer-info-tit-span">Load &nbsp; No.</span></td>
				<td colspan="3"><span class="cer-info-con-span">5100197260</span></td>
			</tr>
			<tr>
				<td><span class="cer-info-tit-span">Customer Order No.</span></td>
				<td colspan="3"><span class="cer-info-con-span">MAR02258</span></td>
			</tr>
			<tr>
				<td><span class="cer-info-tit-span">Customer Part No.</span></td>
				<td colspan="3"><span class="cer-info-con-span">327530</span></td>
			</tr>
			<tr>
				<td><span class="cer-info-tit-span">KL Part No.</span></td>
				<td colspan="3"><span class="cer-info-con-span">A1514003ZZ0003002F</span></td>
			</tr>
			<tr>
				<td><span class="cer-info-tit-span">Part Description.</span></td>
				<td colspan="3"><span class="cer-info-con-span">14AMP FERRULE 3” 304L</span></td>
			</tr>
			<tr>
				<td><span class="cer-info-tit-span">Material.</span></td>
				<td colspan="3"><span class="cer-info-con-span">304/304L</span></td>
			</tr>
			<tr>
				<td><span class="cer-info-tit-span">Lot No.	</span></td>
				<td><span class="cer-info-con-span">0000526786</span></td>
				<td><span class="cer-info-tit-span">Date of Certificate.</span></td>
				<td><span class="cer-info-con-span">2016.01.20</span></td>
			</tr>								
		</table>
		<div style="margin-left:10px;">
		<span class="cer-info-title-top-span">Raw Material Heat Analyze and Specification (weight%)：</span>
		<table class="cer-md-table" width="960px" border="1">
			<thead>					
			<tr>				
				<th width="100px">Heat Number‎</th>
				<th width="60px">C</th>
				<th width="60px">Si</th>
				<th width="60px">Mn</th>
				<th width="60px">P</th>
				<th width="60px">S</th>
				<th width="60px">Ni</th>
				<th width="60px">Cr</th>
				<th width="60px">N</th>
				<th width="60px">Mo</th>
				<th >Material Standard</th>
			</tr>
			</thead>
			<tr>				
				<td>M15D138</td>
				<td>0.013</td>
				<td>0.470</td>
				<td>1.050</td>
				<td>0.033</td>
				<td>0.011</td>
				<td>8.130</td>
				<td>18.220</td>
				<td>0.000</td>
				<td>0.000</td>
				<td>ASTM A182 F304L	</td>
			</tr>
		</table>
		<span class="cer-info-title-top-span">Mechanical Test</span>
		<table class="cer-md-table" width="960px" border="1">
			<thead>			
			<tr>		
				<th width="100px" rowspan="2">Heat Number</th>
				<th >Yield</th>
				<th >Rp 0.2</th>
				<th >Yield</th>
				<th >Rp 1.0</th>
				<th >Tensile</th>
				<th >Strength</th>
				<th >Hardness</th>
				<th >Reduction of Area</th>
				<th >Elongation(l)</th>
				<th >ImpactTest</th>
			</tr>
			<tr>				
				<th width="60px">MPa(N/mm2)</th>
				<th width="60px">KSI</th>
				<th width="60px">MPa(N/mm2)</th>
				<th width="60px">KSI</th>
				<th width="60px">MPa(N/mm2)</th>
				<th width="60px">KSI</th>
				<th width="60px">HB/HRB/HV</th>
				<th width="60px">%</th>
				<th width="60px">%</th>
				<th >20℃-J</th>
			</tr>
			</thead>
			<tr>				
				<td>M15D138</td>
				<td>0.013</td>
				<td>0.470</td>
				<td>1.050</td>
				<td>0.033</td>
				<td>0.011</td>
				<td>8.130</td>
				<td>18.220</td>
				<td>0.000</td>
				<td>0.000</td>
				<td>ASTM A182 F304L	</td>
			</tr>
		</table>
		<span class="cer-info-title-top-span">Mechanical Test Continuation </span>
		<table class="cer-md-table" width="960px" border="1">
			<thead>					
			<tr>				
				<th width="100px">Heat Number‎</th>
				<th >Eddy Current<br>Test</th>
				<th >Flaring<br>Test</th>
				<th >Flattening<br>Test</th>
				<th >Bend Test</th>
				<th >Intergranular<br>Corrosion Test</th>
			</tr>
			</thead>
			<tr>				
				<td>M15D138</td>
				<td>0.013</td>
				<td>0.470</td>
				<td>1.050</td>
				<td>0.033</td>
				<td>0.011</td>
			</tr>
		</table>
		<span class="cer-info-title-top-span">Other Analysis And Inspection</span>
		<table class="cer-md-table" width="450px" border="1">
			<thead>					
			<tr>				
				<th width="100px">Visual &<br> Dimensional Test‎</th>
				<th >Material<br> Identification Test</th>
				<th >Ra Max Value<br>(ID/OD)</th>
			</tr>
			</thead>
			<tr>				
				<td>OK</td>
				<td>OK</td>
				<td>0.56/N/A</td>
			</tr>
		</table>
		<br>
		<span class="cer-info-title-bottom-span">Statement of Certificates of Conformance    :</span>
		<br>
		<span class="cer-info-title-bottom-info-span">
		KINGLAI is authorized by the ASME for manufacturing BPE fittings and tubings in accordance with ASME BPE Current Standard, certificate No. is BPE-104.Expires: June 5, 2018.<br>
		We certify Process Contact Surface SF1 meets Ra 0.51µm max; SF4 is electropolished and meets Ra 0.38 µm max.Ext. Ra 0.8 µm max.<br>
		We certify that this information is a true representation of the data that has been furnished by our raw material.<br>
		We have no knowledge of any mercury of low melting contamination.<br>
		Examined according to quality system BS EN ISO 9001:2008 by BSI. Certification number: FM 85641.<br>
		All products have heat treatment process except some specified products per customer order, the temperature is 1040~1100℃, and quick cooling.<br>
		This certificate is made by SAP system and is valid with electronic signature.<br>
		The materials listed herein have been tested for radioactivity and the tests confirm that the values are within the limits of the background radiation. <br>
		China Jiangsu province sanitation and safe product, approval number:0098, Jiangsu province(2012)<br>
		KL fittings and tubings are in compliance with PED and relative standards.<br>
		</span>
		</div>
		
	<div>
			<img class="logo" src="/static/images/cer/cer_bottom.png">
		</div>
	</div>
<form id='mform' name='mform'  method="post"></form>
<script type="text/javascript" src="/static/js/json2.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui-ext.js"></script>
<script type="text/javascript">
$(function(){

})
function goPage(){
}
</script>
</body>
</html>